extends layout

block content
    form(action="/filestream/search", method="get")
        input(type="text" name="keyword")
        input(type="submit", class="btn btn-primary", value="Search")
    table.table.table-bordered
        thead
            tr
                th Nama
                th 
                th
                th Prodi
                th Universitas
                th Kode
        tbody
            each row in data
                tr
                each col in row
                    td= col